/*
 * @Author: The-Zi
 * @Date: 2018-05-30 17:48:39
 * @Last Modified by: The-Zi
 * @Last Modified time: 2018-07-18 10:39:13
 */


// =============== 样式配置 ===============

// 表单栅格最小高度
$colMinH: 100px;
// 表单栅格内边距
$colPadding: 15px;
// 组件内边距
$padding: 15px;
// 边框颜色
$borderColor: #ccc;
// 移动端背景图尺寸
$mobileBgW: 350px;
$mobileBgH: 750px;
// 移动端构建区域尺寸
$mobileBuilderZoonW: 302px;
// $mobileBuilderZoonH: 540px;
$mobileBuilderZoonH: 650px;
