/*
 * @Author: The-Zi
 * @Date: 2018-05-30 17:53:52
 * @Last Modified by: The-Zi
 * @Last Modified time: 2018-05-30 17:54:15
 */


  // 统一组件label显示格式为独占一行
  .form-grid-wrap .ivu-form {
    .ivu-form-item-label {
      display: block;
      width: 100%;
      text-align: left !important;
    }
    .ivu-date-picker {
      display: block;
    }

    // 取消iview组件默认的底部外边距
    .ivu-form-item {
      margin-bottom: 0;
    }
  }

    // 文字超出显示省略号
    .ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    } // 状态颜色
    .status-error {
      color: red;
    }
