/*
 * @Author: The-Zi
 * @Date: 2018-07-18 10:36:52
 * @Last Modified by: The-Zi
 * @Last Modified time: 2018-07-18 10:40:11
 */


// =============== 导入样式文件 ===============
@import "./base";


// =============== 侧边栏样式 ===============
// 表单构建器：侧边栏
.iview-form-builder-sidebar {
    position: fixed;
    right: 25px;
    top: 122px;
    z-index: 1000;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 150px;
    padding: $padding / 3; // 表单构建器：显示设备
    .builder-decive {
        margin-bottom: $padding / 3;
    } // 表单构建器：表单元素
    .builder-form-element {
        height: 30px;
        width: 100%;
        border-radius: 15px;
        padding: 0 $padding;
        margin-bottom: $padding / 3;
        line-height: 30px;
        background-color: #f3f3f3;
    } // 表单构建器：构建操作
    .builder-active {
        text-align: center;
        padding: $padding / 3;
        .active-item {
            float: left;
            width: 50%;
        }
    }
}
