/*
 * @Author: The-Zi
 * @Date: 2018-07-18 10:36:52
 * @Last Modified by: The-Zi
 * @Last Modified time: 2018-07-18 10:40:11
 */

// =============== 导入样式文件 ===============
@import "./base";
// =============== 侧边栏样式 ===============
// 表单构建器：侧边栏外包围
.iview-form-builder-sidebar-wrap {
    background-color: #fff;
    // 表单构建器：侧边栏
    .iview-form-builder-sidebar {
        float: right;
        background-color: #fff;
        width: 100%;
        max-width: 510px;
        min-width: 170px;
        padding: $padding / 3;
        .builder-decive {
            margin-bottom: $padding / 3;
        }
        // 表单构建器：表单元素
        .builder-form-element {
            float: left;
            width: 50%;
            padding: 0 $padding / 3;
            margin: $padding / 3 0;
            .builder-form-element-content {
                padding: 0 $padding;
                border-radius: 5px;
                line-height: 30px;
                border: 1px dashed #aaa;
            }
        }
    }
    // 表单构建器：操作按钮
    .iview-form-builder-sidebar-active {
        float: left;
        width: 100%;
        padding: $padding / 3;
        .active-item {
            float: left;
            width: 50%;
            padding: 0 $padding / 3;
            margin: $padding / 3 0;
        }
    }
}
